/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xamppneww\/htdocs\/drupal730\/sites\/all\/themes\/test1theme\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/xamppneww\/htdocs\/drupal730\/sites\/all\/themes\/test1theme\/sass\/test1theme\.styles\.scss}line{font-family:\0000327}}
.l-page {
  width: 80%;
  background-color: red;
  margin: auto;
  border: 5px solid #000; }
